# Autosave interval in minutes (eg. 1, 5, 0.5)
AUTOSAVE_INTERVAL=5
# Auto download papermc server
DOWNLOAD_PAPERMC=true
# Papermc server version
PAPERMC_DOWNLOAD_VERSION=1.18.2
# Papermc server build
PAPERMC_DOWNLOAD_BUILD=239
# Auto start the server on host start
AUTOSTART=true
