MEMORY_ALLOCATION=1024 #Memory allocation in MB
AUTOSAVE_INTERVAL=5 #Autosave interval in minutes (eg. 1, 5, 0.5) 0=disabled
DOWNLOAD_PAPERMC=true #Auto download papermc server
PAPERMC_DOWNLOAD_VERSION=1.20.1 #Papermc server version
PAPERMC_DOWNLOAD_BUILD=169 #Papermc server build
AUTOSTART=true #Auto start the server on host start
BACKUP_INTERVAL=0 #Backup interval (to gcp storage bucket) in minutes, 0=disabled
BACKUP_PROJECT_ID= #The project id of the storage bucket
BACKUP_STORAGE_BUCKET= #The storage bucket name that backups go to
BACKUP_FILENAME=backup-{date}.zip #{date} will be replaced automatically
BACKUP_SOURCE_DIRECTORIES=server/world,server/world_nether,server/world_the_end #comma-separated
# directories that will be included in backups
# Your credentials should go in config/service-account.json
# Your service account should have the 'Storage Object Admin' permission